@charset "utf-8";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pc_pic {
  display: none;
}
.btn {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
}
.hero {
  background-color: skyblue;
  padding: 48px;
  /* 背景の付け方 */
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  /* これでも大丈夫 */
  /* background: slyblue url(bg.png) repeat-x center bottom; */
  text-align: center;
}
.hero div {
  margin-top: 64px;
}
.hero .btn {
  margin-top: 64px;
}
h3 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}
h4 {
  margin: 0;
  font-weight: normal;
  margin-top: 16px;
}
p {
  margin: 0;
}
.features {
  padding: 64px;
}
.features div {
  text-align: center;
}
.features p {
  margin-top: 16px;
}
.feature {
  margin-top: 16px;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 48px;
}
small {
  font-size: 14px;
}
a:hover {
  opacity: .5;
}


@media screen and (min-width:600px) {
  .sp_pic {
    display: none;
  }
  .pc_pic {
    display: inline;
  }
  .hero {
    display: flex;
    align-items: center;
  }
  .hero div {
    flex: 1;
  }
  
}